<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div>
        <div id="header">
            <h1>SortNow</h1> <h2>Scan. Sort. Sustain.</h2>
        </div>
    </div>
    <div id="box1">
        <div id="box10">Waste Segregation on the Go!</div>
        
        <br>
        <div class="content-wrapper">
            <div id="box11"> 
                <h1>Upload an image </h1>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="image" accept="image/*" required>
                    <br>
                    <button class="btn" type="submit">Classify</button>
                </form>
            </div>
            <div id="box12">
                <h1>Results</h1>
            </div>
        </div>
    </div>
</body>
</html> 

